.answers{
    border: 1px solid #2c666e !important;
    border-radius:3em;
    width: 3em;
    height: 3em;
    border-radius: 3em;
    display: flex;
    justify-content: center;
    align-items: center;
}

.answers p{
    margin: 0 !important;
    color: #2c666e;
}

.answers__title{
    font-size:0.9em;
    text-align: center;
}

hr{
    width:100%;
}

#appbundle_enquesta{
    background-color:rgb(206, 206, 206);
    padding: 2em;
    border-radius: 2em;
    margin-bottom:1em;
}

#show_enquesta {
    margin-bottom:2em;
}

#show_enquesta tbody tr *{
    padding:1em 1em 0em 1em;
}
