/*---------------------------------------------------------------------------------------*/
/*--------------------------------------[ PIE SVG ]--------------------------------------*/

/*Tutorial referència: https://www.smashingmagazine.com/2015/07/designing-simple-pie-charts-with-css/*/
svg {
    width: 90px; height: 90px;
    transform: rotate(-90deg);
    background: #82bbc9;
    border-radius: 50%;
    border: solid 1px #07393c;
}

circle {
    fill: #82bbc9;
    stroke: #ed7a00;
    stroke-width: 32;
    stroke-dasharray: 0 158;
}

/*---------------------------------------------------------------------------------------*/
/*-------------------------------------[ ENQUESTES ]-------------------------------------*/
/*Colors del si i el no*/
.enquesta_si {color: #cc6900;}
.enquesta_no {color: #07393c;}

/*Colors de les icones*/
.icona-taronja{color: #ffac4d;}
.icona-verd-fosc{color: #07393c;}
.icona-verd-clar{color: #779394;}
.icona-verd{color: #5aaf86;}

/*Enquestes destacades a la pàgina del login*/
.enquesta_presentacio {margin-bottom: 20px;}
.enquesta_presentacio>*{background: rgba(255,255,255,0.5);}
.enquesta_pregunta {font-weight: bold;}

/*Enquestes llistades a la pàgina de la llista*/
.llista_enquestes{
    border-radius: 10px;
    background: rgb(255, 255, 255, 0.7);
}
.enquesta_llista{
    border-bottom: 1px solid rgb(5, 37, 39, 0.5);
    padding-top: 10px;
    padding-bottom: 10px;
    margin-bottom: 10px;
}
.llista_titol{
    background: linear-gradient(#80c4cb, #c9e6e9);
    border-bottom: 1px solid #052527;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-bottom: 10px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

/*Amagar els stats*/
.llista_amagat{
    display: none;
}

/*Formulari de una enquesta de la llista*/
/*Estil del botó guardar resposta*/
.llista_submit {
    border-radius: 5px;
    background: #07393c;
    height: 40px;
    font-size: 12px;
    color: #fff;
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: 1px;
    transition: all 0.4s;
  }

/*Color de fons del botó guardar resposta quan hover*/
.llista_btn:hover {
    background: #052527;
}
/*Botons de si i no*/
.llista_button{
    cursor: pointer;
    border-radius: 5px;
    background-color: #6c757d;
    padding-right: 1rem;
    padding-left: 1rem;
    height: 40px;
    font-size: 12px;
    color: #fff;
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: 1px;
    background-image: none;
    text-decoration: none;
    transition: all 0.4s;
}
.llista_button>input{
    position: absolute;
    clip: rect(0,0,0,0);
    pointer-events: none;
}
/*Colors dels botons quan estan seleccionats*/
.llista_button_si:hover, .llista_button_si.active {
    background-color: #5aaf86;
}
.llista_button_no:hover, .llista_button_no.active {
    background-color: #af5a5a;
}

.enquesta_stats{
    display: flex;
}
/*Quan una enquesta de la llista està seleccionada*/
.enquesta_llista_activa{
    background: rgb(194, 236, 246, 0.7);
    border: 1px solid #052527;
    border-radius: 5px;
}

/*Missatge de la data quan hi ha un avís*/
.dates_info::before {
    content: attr(data-dates);
    position: absolute;
    z-index: 100;
    background-color: white;
    border: 1px solid #ffac4d;
    border-radius: 2px;
    padding: 4px 8px 4px 10px;
    transform: translate(-100px, -5px);
    pointer-events: none;
    color: #ffac4d;
    font-size: 12px;
    text-align: left;
    visibility: hidden;
    opacity: 0;
    transition: opacity 0.4s;
}

/*Fer que l'aviís de la data sigui visible quan fem hover a l'icona*/
.dates_info:hover:before {
    visibility: visible;
    opacity: 1;
}
