/*---------------------------------------------------------------------------------------*/
/*---------------------------------------[ LOGIN ]---------------------------------------*/

/*Eliminar estils dels inputs i els botons*/
input {
	outline: none;
	border: none;
}

button {
	outline: none !important;
	border: none;
	background: transparent;
}

button:hover {
	cursor: pointer;
}

/*[STYLE]*/
/*Estil del quadre de login i el titol*/
.login-form {
  background-color: #c2ecf6;
  padding: 30px 20px 30px 20px;
  border-radius: 10px;
}

.login-form-title {
  font-size: 25px;
  color: #0a090c;
  line-height: 1.2;
  margin-bottom: 10px;
}

/*Estil dels inputs i botons */
.row-input {margin-bottom: 20px;}

.wrap-input {
  height: 60px;
  border: 1px solid #82bbc9;
  border-radius: 10px;
}

.label-input {
  font-size: 18px;
  color: #5c8d99;
  line-height: 1.2;
  position: absolute;
  pointer-events: none;
  padding-left: 24px;
  left: 0;
  top: 20px;

  transition: all 0.4s;
}

.input {
  background: transparent;
  font-size: 18px;
  color: #052527;
  line-height: 1.2;
  padding: 0 10px;
  padding-top: 10px;
}

input.input {
  height: 100%;
  transition: all 0.4s;
}

/*[FOCUS]*/
/*border del input (no sera visible fins que focus)*/
.focus-input {
  position: absolute;
  display: block;
  width: calc(100% + 2px);
  height: calc(100% + 2px);
  top: -1px;
  left: -1px;
  pointer-events: none;
  border: 1px solid #052527;
  border-radius: 10px;

  visibility: hidden;
  opacity: 0;

  transition: all 0.4s;
  transform: scaleX(1.1) scaleY(1.3);
}
/*fer visible el border i l'input quan focus*/
.input:focus + .focus-input {
  visibility: visible;
  opacity: 1;
  transform: scale(1);
}

/*Posicionament del border i posicionament i color de la label quan focus*/
.input:focus + .focus-input + .label-input {
  top: 6px;
  font-size: 12px;
  color: #052527;
}

/*Posicionament de la label quan hi ha un valor*/
.has-val {
  top: 6px;
  font-size: 12px;
}

/*[BUTTON]*/
/*Estil del botó i la font del botó*/
.login-form-btn {
  border-radius: 10px;
  background: #07393c;
  height: 60px;
  font-size: 14px;
  color: #fff;
  line-height: 1.2;
  text-transform: uppercase;
  font-weight: bold;
  letter-spacing: 1px;

  transition: all 0.4s;
}

/*Color de fons del botó quan hover*/
.login-form-btn:hover {
  background: #052527;
}

/*[VALIDATIONS]*/
.validate-input {
  position: relative;
}

/*Missatge de validació (esquerra)*/
.alert-validate::before {
  content: attr(data-validate);
  position: absolute;
  z-index: 100;
  background-color: #c2ecf6;
  border: 1px solid #c80000;
  border-radius: 2px;
  padding: 4px 8px 4px 10px;
  top: 50%;
  max-width: 50%;
  transform: translateY(-50%);
  right: 12px;
  pointer-events: none;

  color: #c80000;
  font-size: 13px;
  line-height: 1.4;
  text-align: left;

  visibility: hidden;
  opacity: 0;

  transition: opacity 0.4s;
}

/*Icon del missatge de validació (dreta)*/
.alert-validate::after {
  content: "\2297";
  position: absolute;
  z-index: 110;
  color: #c80000;
  font-size: 16px;
  top: 50%;
  transform: translateY(-50%);
  right: 18px;
}

/*Missatge de validació només visible quan hover a l'alerta*/
.alert-validate:hover:before {
  visibility: visible;
  opacity: 1;
}
