/*---------------------------------------------------------------------------------------*/
/*--------------------------------------[ GENERAL ]--------------------------------------*/

/*Definició de estils i fonts general de la pàgina*/
html, body {margin-top: 4em;}

html *{
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
}

body{
    background-image: url("../img/background5.png");
    background-repeat: no-repeat;
    background-size: cover;
}

/*Definició de l'estil de la capçalera (navbar)*/
.navbar.fixed-top{
    background-color: #2c666e;
}

.footer>.navbar-footer{
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
}
.footer{
    position: absolute;
    bottom: 0;
    width: 100%;
    background-color: #30343f;
}
.footer *{
    padding-top: 0;
    padding-bottom: 0;
}
