{# RENDERITZA UNA ENQUESTA A LA LLISTA #}
{# No volem el contenidor quan acabem de contestar l'enquesta ja que ja hi és #}
{% if enquesta.senseContenidor != true %}
	<div class="row enquesta_llista" id="enquesta_{{ enquesta.id }}">
{% endif %}
	{# INFO DE L'ENQUESTA #}
	<div class="row col-12 enquesta_info">
		{# Pregunta de l'enquesta #}
		<span class="col-10 enquesta_pregunta">{{ enquesta.pregunta }}</span>
		{# Icones calendari enquesta (activa, a punt de tancar, no activa) #}
		{% if enquesta.activa == true %}
			{% if enquesta.diferenciaDates > 7 %}
				{# Enquesta activa i amb més de una setmana per acabar #}
				<span class="col-1"><i class="fas fa-calendar-alt fa-2x icona-verd"></i></span>
			{% else %}
				{# Enquesta activa i amb MENYS de una setmana per acabar #}
				<span class="col-1 dates_info" data-dates="Data Fi: {{ enquesta.dataFi }}"><i class="fas fa-calendar-alt fa-2x icona-taronja"></i><i class="fas fa-exclamation fa-2x icona-taronja"></i></span>
			{% endif %}
		{% else %}
			<span class="col-1"><i class="fas fa-calendar-alt fa-2x icona-verd-clar"></i></span>
		{% endif %}
		{# Icones de si l'enquesta es pot respondre #}
		{% if enquesta.estaResposta == true or enquesta.activa != true %}
			{# Enquesta resposta o no aciva mostrar stats #}
			<span class="col-1"><i class="fas fa-chart-pie fa-2x icona-verd-clar"></i></span>
		{% else %}
			{# Enquesta no resposta i activa mostrar formulari #}
			<span class="col-1"><i class="fas fa-edit fa-2x icona-verd-fosc"></i></span>
		{% endif %}
	</div>
	{# STATS/FORMULARI DE L'ENQUESTA #}
	{# Enquesta resposta o no activa mostrar stats #}
	{% if enquesta.estaResposta == true or enquesta.activa == false %}
		<div class="row col-12 enquesta_stats">
			<div class="col-2 pie">
				<svg viewBox="0 0 32 32">
			  		<circle r="16" cx="16" cy="16"/>
				</svg>
			</div>
			<div class="col-10 row">
				<span class="col-12 enquesta_respostes">Respostes: {{ enquesta.nRespostes }}</span>
				<span class="col-12 enquesta_si">SI: {{ enquesta.nRespostesSi }}</span>
				<span class="col-12 enquesta_no">NO: {{ enquesta.nRespostesNo }}</span>
			</div>
		</div>
	{# Enquesta activa i no resposta mostrar formulari #}
	{% else %}
		<div class="col-6 form form-inline justify-content-start enquesta_stats">
			<div class="col-6 row justify-content-around">
		    	<label class="llista_button llista_button_si text-center" id="si{{ enquesta.id }}">
		    	<input type="radio" name="options" autocomplete="off">SI</label>
		    	<label class="llista_button llista_button_no text-center" id="no{{ enquesta.id }}">
    	    	<input type="radio" name="options" autocomplete="off">NO</label>
    	   	</div>
			<div class="col-6 row justify-content-center">
    	    	<button class="text-center llista_submit" id="submit{{ enquesta.id }}">Desar Resposta</button>
    	   	</div>
    	</div>
	{% endif %}
{% if enquesta.senseContenidor != true %}
	</div>
{% endif %}
