{# ESTRUCTURA DEL DIV PRINCIPAL DE LA LLISTA DE TOTES LES ENQUESTES #}
<div class="row">
	<div class="col-12 llista_enquestes">
		<div class="row llista_titol">
			<div class="col-12">
				<h1>TOTES LES ENQUESTES</h1>
			</div>
		</div>
	</div>
</div>
