{#BARRA DE NAVEGACIÓ SUPERIOR (HEADER)#}
<header>
	<nav class="navbar fixed-top navbar-expand navbar-dark">
		<a class="navbar-brand" href="#">
			<img src="{{ asset('img/logo.png') }}" width="50" height="46"/>
			VOTA
		</a>
    	<ul class="navbar-nav ml-auto" id="logout">
		{% if is_granted('IS_AUTHENTICATED_REMEMBERED') %}
      		<li class="nav-item"><a class="nav-link" href="{{ path('logout') }}">Logout</a></li>
		{% endif %}
    	</ul>
	</nav>
</header>
