{# PLANTILLA DE L'ÍNDEX #}
{# Aquesta plantilla és la que es renderitza al iniciar l'aplicació o refrescar la pàgina #}
{% extends 'base.html.twig' %}

{% block body %}
    <div class="container">
        {# Si està autenticat i refresca la pàgina (no és admin ja que seria redirigit) renderitza la llista en comptes del login #}
        {% if is_granted('IS_AUTHENTICATED_FULLY') %}
            {{ include('public/enquestes.html.twig') }}
        {% else %}
            {{ include('public/login.html.twig') }}
        {% endif %}
    </div>
{% endblock %}
