{# PLANTILLA DE LA PÀGINA DEL LOGIN #}
<div class="row h-100 align-items-center">
	{# ENQUESTES DESTACADES #}
	<div class="col-8">
		{# S'ha comprovat abans però per si de cas tornem a comprovar que només es rendeitzin les 4 primeres enquestes destacades #}
		{% for enquesta in destacades|slice(0, 4) %}
        <div class="row align-items-center enquesta_presentacio">
			{# Pie #}
			<div class="col-2 pie">
				<svg viewBox="0 0 32 32">
				  <circle r="16" cx="16" cy="16"/>
				</svg>
			</div>
			{# Estadístiques #}
			<div class="row col-10">
				<span class="col-12 enquesta_pregunta">{{ enquesta.pregunta }}</span>
				<span class="col-4 enquesta_respostes">Respostes: {{ enquesta.nRespostes }}</span>
				<span class="col-3 enquesta_si">SI: {{ enquesta.nRespostesSi }}</span>
				<span class="col-3 enquesta_no">NO: {{ enquesta.nRespostesNo }}</span>
			</div>
		</div>
    	{% endfor %}
	</div>
	{# FORMULARI DE LOGIN #}
	<div class="col-4 login-form validate-form">
		{# Títol #}
		<div class="row h-25">
			<span class="col-12 text-center login-form-title">
				ENTRA I PARTICIPA
			</span>
		</div>
		{# Inputs #}
		<div class="row h-25 justify-content-center row-input">
			<div class="col-10 wrap-input validate-input" data-validate = "Usuari obligatori">
				<input class="col-12 h-100 input" type="text" name="username" id="username_input">
				<span class="focus-input"></span>
				<span class="label-input">Email</span>
			</div>
		</div>
		<div class="row h-25 justify-content-center row-input">
			<div class="col-10 wrap-input validate-input" data-validate = "Password obligatòria">
				<input class="col-12 h-100 input" type="password" name="pass" id="password_input">
				<span class="focus-input"></span>
				<span class="label-input">Password</span>
			</div>
		</div>
		{# Botó de submit #}
		<div class="row justify-content-center">
			<button class="col-10 text-center login-form-btn" id="login">
				Login
			</button>
		</div>
	</div>
</div>
