{% extends 'base.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('css/admin.css') }}">
{% endblock %}

{% block body %}
    <div class="row">
        <div class="col-12">
            <h1 style="text-align:center">Editar enquesta</h1>
        </div>
    </div>

    <div class="row">
        <div class="col-12 d-flex justify-content-center">
            {{ form_start(edit_form) }}
                {{ form_widget(edit_form) }}
                <button style="padding-left:5em"><input type="submit" value="Guardar" /></button>
            {{ form_end(edit_form) }}
            {{ form_start(delete_form) }}
                <button style="position:absolute;top:275px;left:48em">
                    <input type="submit" value="Esborrar">
                </button>
            {{ form_end(delete_form) }}
        </div>
    </div>
    <div class="row mb-4">
        <div class="col-12 d-flex justify-content-center mt-4">
            <a href="{{ path('enquesta_index') }}"><button style="color:#052527">Tornar al llistat</button></a>
        </div>
    </div>

{% endblock %}

{% block custom_javascripts %}
    <script>
    window.onload = function(){
        $("#appbundle_enquesta_pregunta").prop('disabled', true);
        $("#appbundle_enquesta_pregunta").css('opacity', '0.5');
        $("#appbundle_enquesta_pregunta").siblings().css('opacity', '0.5');
    }
    </script>
{% endblock %}
