{% extends 'base.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('css/admin.css') }}">
{% endblock %}

{% block body %}
    <div class="container">
		<div class="row">
			<div class="col-2 mt-5">
            	<a href="{{ path('enquesta_new') }}"><button class="col-12 text-center login-form-btn">Crear enquesta</button></a>
            </div>
            <div class="col-8">
                {% for enquestum in enquestas %}
                <div class="row mt-5 mb-5">
                    <div class="col-12">
                        <div class="row">
                            <div class="col-9 mb-3">
                                <h3>Enquesta #{{ enquestum.id }} - {{ enquestum.pregunta }}</h3>
                            </div>
                            <div class="col-3">
                                {% if enquestum.destacada %}
                                <img src="{{ asset('img/icon.svg') }}" class="float-right ml-2" width="30" alt="Enquesta destacada" title="Enquesta destacada"/>
                                {% endif %}

                                {% if enquestum.activa %}
                                <img src="{{ asset('img/checked.svg') }}" class="float-right ml-2" width="30" alt="Enquesta activa" title="Enquesta activa"/>
                                {% else %}
                                <img src="{{ asset('img/cancel.svg') }}" class="float-right ml-2" width="30" alt="Enquesta caducada" title="Enquesta caducada"/>
                                {% endif %}
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-7">
                                {% if enquestum.dataInici %}
                                <p><span class="font-weight-bold">Des de: </span>{{ enquestum.dataInici|date('Y-m-d') }}</p>
                                {% endif %}
                                {% if enquestum.dataFinal %}
                                <p><span class="font-weight-bold">Fins a: </span>{{ enquestum.dataFinal|date('Y-m-d') }}</p>
                                {% endif %}
                            </div>
                            <div class="col-5">
                                <div class="row">
                                    <div class="col-4">
                                        <div class="answers mx-auto"><p>{{ enquestum.totalRespostes }}</p></div>
                                        <p class="answers__title mt-2">Respostes</p>
                                    </div>
                                    <div class="col-4">
                                        <div class="answers mx-auto"><p>{{ enquestum.totalRespostesSi }}</p></div>
                                        <p class="answers__title mt-2">Total SI</p>
                                    </div>
                                    <div class="col-4 ">
                                        <div class="answers mx-auto"><p>{{ enquestum.totalRespostesNo }}</p></div>
                                        <p class="answers__title mt-2">Total NO</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-12">
                                <a href="{{ path('enquesta_edit', { 'id': enquestum.id }) }}"><button>Editar</button></a>
                            </div>
                        </div>
                    </div>
                </div>
                <hr>
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}
