{% extends 'base.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('css/admin.css') }}">
{% endblock %}

{% block body %}
    <div class="row">
        <div class="col-12">
            <h1 style="text-align:center">Crear enquesta</h1>
        </div>
    </div>

    <div class="row">
        <div class="col-12 d-flex justify-content-center">
            {{ form_start(form) }}
                {{ form_widget(form) }}
                <button style="margin-left:10em"><input id="submit" type="submit" value="Crear" /></button>
            {{ form_end(form) }}
        </div>
    </div>
    <div class="row mb-4">
        <div class="col-12 d-flex justify-content-center mt-4">
            <a href="{{ path('enquesta_index') }}"><button style="color:#052527">Tornar al llistat</button></a>
        </div>
    </div>

{% endblock %}

{% block custom_javascripts %}
    <script>
    window.onload = function(){
        $("#appbundle_enquesta_pregunta").attr('required');
        $("#appbundle_enquesta_pregunta").focus();
        $("#appbundle_enquesta_pregunta").focusout(function(){
            if(!$(this).val()){
                $(this).css("box-shadow", "3px 3px 5px 0px red").css("background-color", "red").css("opacity","0.5");
            }
        });
        $("#appbundle_enquesta_pregunta").focusin(function(){
            $(this).css("box-shadow", "").css("background-color", "").css("opacity","");
        });

        $('#submit').click(function(e){
            let year = $('#appbundle_enquesta_dataInici_year').val();
            let month = $('#appbundle_enquesta_dataInici_month').val();
            let day = $('#appbundle_enquesta_dataInici_day').val();
            let dataInici = new Date(year,month,day);
            year = $('#appbundle_enquesta_dataFinal_year').val();
            month = $('#appbundle_enquesta_dataFinal_month').val();
            day = $('#appbundle_enquesta_dataFinal_day').val();
            let dataFinal = new Date(year,month,day);
            if(dataInici.getTime() >= dataFinal.getTime()) {
                e.preventDefault();
                $('#appbundle_enquesta_dataInici_day').after("<span>La data d'inici ha de ser anterior a la de finalització</span>");
            }
            else{
                $('form[name="appbundle_enquesta"]').submit();
            }
        });
    }
    </script>
{% endblock %}
