{% extends 'base.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('css/admin.css') }}">

{% endblock %}

{% block body %}
    <div class="row">
        <div class="col-12">
            <h1 style="text-align:center">Enquesta #{{ enquestum.id }}</h1>
        </div>
    </div>

    <div class="row">
        <div class="col-12 d-flex justify-content-center">
            <table id="show_enquesta">
                <tbody>
                    <tr>
                        <th>Id</th>
                        <td>{{ enquestum.id }}</td>
                    </tr>
                    <tr>
                        <th>Pregunta</th>
                        <td>{{ enquestum.pregunta }}</td>
                    </tr>
                    <tr>
                        <th>Data d'inici</th>
                        <td>{% if enquestum.dataInici %}{{ enquestum.dataInici|date('Y-m-d') }}{% endif %}</td>
                    </tr>
                    <tr>
                        <th>Data final</th>
                        <td>{% if enquestum.dataFinal %}{{ enquestum.dataFinal|date('Y-m-d') }}{% endif %}</td>
                    </tr>
                    <tr>
                        <th>Destacada</th>
                        <td>{% if enquestum.destacada %}Yes{% else %}No{% endif %}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div class="row">
        <div class="col-12 d-flex justify-content-center">
            <a href="{{ path('enquesta_edit', { 'id': enquestum.id }) }}"><button style="height:45px;position:absolute;left:640px">Editar</button></a>
            {{ form_start(delete_form) }}
                <input type="submit" value="Esborrar" style="position:absolute;top:10px">
            {{ form_end(delete_form) }}
        </div>
    </div>
    <div class="row mb-4">
        <div class="col-12 d-flex justify-content-center mt-5">
            <a href="{{ path('enquesta_index') }}"><button style="color:#052527">Tornar al llistat</button></a>
        </div>
    </div>

{% endblock %}
