{# app/Resources/views/registration/register.html.twig #}
{{ form_start(form) }}
    {{ form_row(form.username) }}
    {{ form_row(form.plainPassword) }}

    <button type="submit">Register!</button>
{{ form_end(form) }}
